@model IEnumerable<Form_Builder.Models.Form>

@{
    ViewData["Title"] = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forms</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Form Id
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="FillForm" asp-route-id="@item.Id">Take The Form</a>
            </td>
            <td>
                <a asp-action="ListFormSubmissions" asp-route-id="@item.Id">List Form Submissions</a>
            </td>
        </tr>
}
    </tbody>
</table>
